build
build_*
build.*
build-*
b_*
checkit
Cheyenne*
Theia*
Jet*
results*
dir.tmp
list*
mpmc*
!mpmc.py
old*
myrocoto*
ProdGSI*
__pycache__
*ksh
git
*pyc
*data*
comGSIv*
global
ti01.intel_18.1.163.impi_5.1.2.150
.DS_Store
.*swp
git_ProdGSI
report.txt
out.report
optionlist*
!option.full/*
!option.short/*
!option.standard/*
.tmp.crontab
config.acct_queue
