#!/bin/bash
set -ax
export ENV_GRIBEXTR_WORKSAPCE="/data/users/dxu/workspace/ge_workspace"
export gribExtr_worksapce="/data/users/dxu/workspace/ge_workspace"
export ENV_GRIBEXTR_DIR="/data/users/dxu/iat/ge_pkg/ge"
export ENV_CYCLETIME="2013073012"
export ENV_GFS_GES_INPUT_DIR="/home/dxu/cphc"
export ENV_GFS_GES_INPUT_FILE="/home/dxu/abc.sh"
export ENV_TITLE1="gfs_ges"
export ENV_CRNT_ANL_INPUT_DIR="${gribExtr_worksapce}/data/input/gfs"
export ENV_CRNT_ANL_INPUT_FILE="pgbanl.gfs.2013073012"
export ENV_TITLE2="gfs_anl"
export ENV_REF_ANL_INPUT_DIR="${gribExtr_worksapce}/data/input/ecm"
export ENV_REF_ANL_INPUT_FILE="pgbanl.ecm.2013073012"
export ENV_TITLE3="ecmwf_anl"
