 &SETUP
   JCAP=@JCAP,NLAT=@NLAT,NLON=@NLON,nsig=@NSIG,
   miter=3,niter(1)=100,niter(2)=100,niter(3)=1,
   as=0.75,0.75,0.80,1.00,1.00,1.00,vs=0.7,hzscl=1.0,2.0,4.0,bw=0.0,
   grosst=10.0,grossw=10.0,grossrw=10.0,grossdw=10.0,grossp=10.0,grossq=10.0,
   grosspw=10.0,gencode=78,
   dfact=0.1,factqmin=0.8,factqmax=1.2,deltim=300,
   ndat=21,jpch=493,npred=5,iguess=-1,
   hybrid=.false.,regional=.false.,oneobtest=.false.,
 /
 &OBS_INPUT
   dmesh(1)=145.0,dmesh(2)=240.,dmesh(3)=180.,
   dfile(1)='prepqc',    dtype(1)='t',         id(1)=0,   dload(1)=2.483,   dval(1)=1.0,  dthin(1)=0,
   dfile(2)='prepqc',    dtype(2)='uv',        id(2)=0,   dload(2)=3.478,   dval(2)=1.0,  dthin(2)=0,
   dfile(3)='prepqc',    dtype(3)='ps',        id(3)=0,   dload(3)=1.000,   dval(3)=1.0,  dthin(3)=0,
   dfile(4)='prepqc',    dtype(4)='q',         id(4)=0,   dload(4)=3.991,   dval(4)=1.0,  dthin(4)=0,
   dfile(5)='prepqc',    dtype(5)='pw',        id(5)=0,   dload(5)=3.000,   dval(5)=1.0,  dthin(5)=0,
   dfile(6)='prepqc',    dtype(6)='spd',       id(6)=0,   dload(6)=3.478,   dval(6)=1.0,  dthin(6)=0,
   dfile(7)='sbuv11',    dtype(7)='sbuv2',     id(7)=16,  dload(7)=75.0,    dval(7)=1.0,  dthin(7)=0,
   dfile(8)='amsua1b15', dtype(8)='amsua',     id(8)=15,  dload(8)=225.0,   dval(8)=10.0, dthin(8)=1,
   dfile(9)='amsub1b15', dtype(9)='amsub',     id(9)=15,  dload(9)=75.0,    dval(9)=3.0,  dthin(9)=2,
   dfile(10)='hirs1b14', dtype(10)='hirs/2',   id(10)=14, dload(10)=285.0,  dval(10)=6.0, dthin(10)=3,
   dfile(11)='umsu1b14', dtype(11)='msu',      id(11)=14, dload(11)=60.0,   dval(11)=2.0, dthin(11)=1,
   dfile(12)='prepqc',   dtype(12)='goes',     id(12)=8,  dload(12)=270.0,  dval(12)=6.0, dthin(12)=3,
   dfile(13)='prepqc',   dtype(13)='goes',     id(13)=10, dload(13)=270.0,  dval(13)=6.0, dthin(13)=3,
   dfile(14)='amsua1b16',dtype(14)='amsua',    id(14)=16, dload(14)=225.0,  dval(14)=10.0,dthin(14)=1,
   dfile(15)='amsub1b16',dtype(15)='amsub',    id(15)=16, dload(15)=75.0,   dval(15)=3.0, dthin(15)=2,
   dfile(16)='hirs1b16', dtype(16)='hirs/3',   id(16)=16, dload(16)=285.0,  dval(16)=6.0, dthin(16)=3,
   dfile(17)='ssmi',     dtype(17)='pcp_ssm/i',id(17)=264,dload(17)=300.0,  dval(17)=1.0, dthin(17)=-1,
   dfile(18)='tmi',      dtype(18)='pcp_tmi',  id(18)=211,dload(18)=300.0,  dval(18)=1.0, dthin(18)=-1,
   dfile(19)='sbuv14',   dtype(19)='sbuv2',    id(19)=14, dload(19)=75.0,   dval(19)=1.0, dthin(19)=0,
   dfile(20)='sbuv16',   dtype(20)='sbuv2',    id(20)=16, dload(20)=75.0,   dval(20)=1.0, dthin(20)=0,
   dfile(21)='hirs1b15', dtype(21)='hirs/2',   id(21)=15, dload(21)=285.0,  dval(21)=6.0, dthin(21)=3,
 /
 &SINGLEOB_TEST
   maginnov=0.1,magoberr=0.1,oneob_type='t',
   oblat=45.,oblon=180.,obpres=1000.,obdattim=2004041512,
   obhourset=0.,
 /
