/* CSS Document Plain */
/*  no class needed - styles for unspecified tags **********************************************************/

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76%;
	background-color: #CDD9F7;
}

form {
	margin: 0px;
	padding: 0px;
}

a:link {
/*	color: #6886d3; */
	color: #536BA8;
}

a:visited {
	color: #616161;
}

a:focus, a:hover, a:active {
	text-decoration: underline;
	color: #93052A;
	text-decoration: none;
}

a img {
	border: 0px;
}	

td {
	vertical-align: top;
}

acronym {
	border-bottom: dashed 1px #666666 !important;
	padding-bottom: 0px;
}

/* am adding this 'unclassed' version of the */
/* bullet style to ease implementation. */

ul {
	margin: 5px 0px 0px 12px;
	padding: 0px;
} 

ul li {
	list-style-type: disc;
	margin: 0px 0px 12px 0px;
	padding: 1px 0px 0px 10px;
	line-height: 135%;
}

ul li ul {
	margin: 0px 0px 5px 6px;
	padding: 0px;
}

ul li ul li {
	list-style-type: disc;
	margin: 8px 20px 0px 0px;
	padding: 0px 0px 0px 10px;
	line-height: 135%;
}

ul li h3 {
	padding-top: 0px;
	margin-top: 0px !important;
}

ul li h4 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 0px !important;
	text-align: left !important; 
	padding-bottom: 0px;
}

ul li p {
	padding: 0px;
	margin: 3px 0px 3px 0px;
}

hr {
	padding: 0px;
	border: 0px;
	color: #666666;
	background-color: #666666;
	height: 1px;
	text-align: left;
}

ul.tighter li {
	margin: 0px 0px 5px 0px;
}

/* layout table for nearly all pages  ******************************************/

table#mainTable {
	background-color: #ffffff;
	margin: 0px 0 10px 0;
	width: auto;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

table#popUpSmaller {
	background-color: #ffffff;
	margin: 0px 6px 6px 6px;
	padding: 0px;
	border: 1px solid #666666;
}

.smallHeading {
	font-size: 0.9em;
	font-weight: normal;
}

div#bottomBanner {
	font-size: 0.9em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-top: 1px solid #666666;
	background-color: #cccccc;
	padding: 6px;
	line-height: 170%;
}

div#bottomBanner div.left {
	width: 35%;
	float: left;
}

div#bottomBanner div.right {
	text-align: right;
	width: 65%;
	float: right;
}

.stylered {
	font-size: 0.8em;
	color: #FF0000;
}

.redBold {
	color: #FF0000;
	font-weight: bold;
}

.text {
	font-size: 1em;
}

div.toolBarContainer {
	display: none;
}

div#requirementList ul {
	margin-left: 10px;
}

div#requirementList ul li {
	margin-top: 3px;
	margin-right: 6px;
}

ul.noMarker {
	margin-left: 6px;
	padding: 0px;
	margin-top: 5px;
} 

ul.noMarker li {
	margin-top: 6px;
	margin-right: 10px;
	list-style-type: none;
	padding-left: 6px;
	background-image: none;
}

ul.orgChart {
	margin-left: 18px;
	padding: 0px;
	margin-top: 5px;
} 

ul.orgChart li {
	margin-top: 8px;
	margin-right: 20px;
	list-style-type: none;
	padding-left: 12px;
	/* background: url(../images/orgChartConnector.gif) no-repeat top left; */
	line-height: 140%;
}

ul.orgChart li ul {
	margin-left: 6px;
	margin-bottom: 5px;
	padding: 0px;
}

ul.orgChart li ul li {
	list-style-type: none;
	padding-left: 13px;
	background: url(../images/orgChartConnector.gif) no-repeat top left;
	margin-top: 8px;
	margin-right: 20px;
}

ul.orgChart li h2 {
	padding: 0px;
	margin: 0px;
}

p.a-z {
	font-size: 1.2em !important;
	font-weight: bold;
	color: #536ba8;
	margin-bottom: 1em;
	margin-top: 0.5em;
	line-height: 200% !important;
}

p.a-z a:link, p.a-z a:visited {
	color: #536ba8;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}
	
p.a-z a:focus, p.a-z a:hover, p.a-z a:active {
	color: #93052A;
	font-weight: bold;
	text-decoration: none;
}	

/* Footer ********************************************************************/

.contact {
	font-size: 0.7em;
	color: #FFFFFF;
	padding-left: 12px;
}

.contactus {
	color: white !important; 
	text-decoration: underline !important;
}

.copyright {
	font-size: .7em;
}

/**************************/

td#navCell {
	display: none;
}

div.leftNav {
	display: none;
}

td.mainPanel {
	width: auto;
	border-top: 1px solid #333333;
}

td.mainPanel#withBackground {
	background: url(../images/stratplans/bestofCover_trans.jpg) no-repeat top right #e0eef9; 
	height: 565px;
}

td.mainPanel#bestOf {
	width: auto;
}

td.mainPanel#bestOf p {
	text-indent: 20px;
	line-height: 150%;
}

td.mainPanel#bestOf img {
	margin-left: 12px;
}

td.mainPanel div.padding {
	padding: 14px;
}

/* edit for MIRS */
td.mainPanel div.padding#monitor {
	padding: 2px;
}
/* end of MIRS edit */

td.mainPanel div.padding#news h2 {
	margin-top: 14px;
	border-top: 2px solid #536BA8;
	padding-top: 8px;
}

td.mainPanel p {
	font-size: 1em;
	line-height: 150%;
	margin: 6px 0px 6px 0px;
}

td.mainPanel h1 {
	color: #536BA8;
	margin-top: 2px;
	padding: 0px;
	font-size: 1.45em;
	letter-spacing: -0.03em;
	font-weight: bold;
	text-align: left;
	}

.mainPanel h2 {
	font-size: 120%;
	font-weight: bold;
	color: #282888;
	margin-bottom: 0px;
	margin-top: 6px;
}

.mainPanel h3 {
	font-size: 110%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 8px;
}

.mainPanel table.jobGrid td h3 {
	font-size: 110%;
	font-weight: bold;
	color: #536BA8;
	margin: 2px;
}

.mainPanel h4 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0px;
	margin-top: 8px;
	text-align: center; 
	/* this is used as a figure caption! */
}

/* heading inside of lists */ 

h4.RPP {
	color: navy; 
	text-align: left; 
	font-size: 1.1em;
	padding-top: 0px;
	margin-top: 0px;
}
	
div.bannerContainer {
	background-color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}

div.bannerContainer div#printBanner {
	display: block;
}

div.bannerContainer div#screenBanner {
	display: none;
}

div.clearing {
	clear: both;
}

/* the directory class is only used on the built-in acronym list in the AQ pages */

dl.directory {
	margin: 5px;
	padding: 4px;
	border: 1px solid #888888;
}

dl.directory dt {
	font-size: 1.05em;
	border-top: 1px solid #999999;
	padding-top: 3px;
	padding-left: 5px;
}

dl.directory dd {
	font-weight: normal;
	padding-left: 5px;
	padding-bottom: 3px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 3px;
	border-bottom: 1px solid #CACACa;
}

dl.directory#dir1 {
	margin-left: 5px;
	margin-top: 5px;
	padding: 4px;
	border: 1px solid #888888;
	width: 48%;
}

dl.directory dt {
	font-weight: bold;
	color: #333333;
	margin-left: 3px;
	border: 0px solid #ffffff;
}

dl.acrolist {
	margin-top: 5px;
	padding: 3px 3px 3px 4px;
}

dl.acrolist dt {
	font-weight: bold;
	color: #333333;
}

dl.acrolist dd {
	margin-left: 5px;
	margin-bottom: 6px;
}

table.tableGrid, table.jobGrid {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	width: 100%;
}

table.tableGrid caption {
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	color: #282888;
	margin-bottom: 0px;
	margin-top: 6px;
}

table.tableGrid td, table.jobGrid td, table.tableGrid th {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 6px;
}

table.jobGrid th {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 6px;
	text-align: left;
	vertical-align: bottom;
}

/* added for row headings in MIRS */

table.tableGrid tr th {
	background-color: #FEFECD;
}

/* added for row headings in MIRS */

table.jobGrid#GOESAOD {
	margin: 0px auto 0px auto;
}

table.jobGrid#GOESAOD td, table.jobGrid#GOESAOD th {
	text-align: center;
}

ul.breadcrumbs {
	display: none;
	}
	
ul.breadcrumbs li {
	display: none;
}	

div.floatBox {
	border-bottom: 1px solid #666666;
}

div.floatBox div.left {
	width: auto;	
	float: left;
}

div.floatBox div.right {
	width: auto;
	float: right;
}

div.floatBox#home {
	border-bottom: 0px solid #666666;
}

div.floatBox#bios {
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
}

div.floatBox#home div.left {
	width: auto;	
	float: left;
}

div.floatBox#home div.right {
	width: auto;
	float: right;
}

div.floatBox#bios div.right {
	padding-bottom: 10px;
}

div.floatBox#directories {
	border-bottom: 0px solid #ffffff;
}

div.floatBox#directories div.left {
	width: 50%;
}

div.floatBox#directories div.right {
	text-align: right;
	width: 50%;
}

div.corpBox {
	display: table;
}

div.corpBox div.left {
	width: 62%;	
	float: left;
}

div.corpBox div.right {
	margin-left: 1%;
	width: 35%;
	float: right;
	border: 1px solid #282888;
	padding-top: 0px;
}

div.corpBox div.right h3 {
	padding-top: 2px;
	margin-top: 0px;
}

div.corpBox ul {
	margin-left: 6px;
}

div.corpBox ul li ul {
	margin-left: 2px;
}

div.corpBox ul li {
	margin-right: 5px;
	margin-top: 3px;
}

div.navigatorLinks {
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	display: table;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.detailContainer {
	background-color: #6886d3;
}

.showDetailContainer {
	display: block !important;
	list-style-type: none;
	background-color: #6886d3 !important;
}

ul.showDetailContainer li ul li {
	display: block !important;
	list-style-type: none;
	background-color: #6886d3 !important;
}

.showDetailContainer ul, .showDetailContainer ul li ul {
	background-color: #6886d3 !important;
}

/* detailContainer for acronyms; white bkgd. */

.acroContainer {
	background-color: #ffffff;
}
/* end of detailContainer for acronyms */

.showDetailContainer ul li, .showDetailContainer ul li ul li {
	/* display: list-item; */
	list-style-type: none;
	background-color: #6886d3 !important;
}

a#activeLink:link, a#activeLink:visited, a#activeLink:focus, a#activeLink:hover, a#activeLink:active  {
	color: #93052A;
	background-color: #6886d3;
	font-weight: bold;
	text-decoration: underline;
}

div.searchBox {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: #e4e4e4;
	margin-top: 2px;
}

div.searchBox form {
	padding: 4px 5px 4px 5px;
}

div.searchBox fieldset, form#smallSearch fieldset {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

div.searchBox h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 1px 2px 2px 1px;
}

div.searchBox input#query-field {
	width: 150px;
	color: #444444;
}

div.searchBox input#Go {
	width: 3em; 
	font-size: 10px; 
	font-weight: bold;
}

div.searchBox p {
	text-align: center;
	font-weight: bold;
	margin: 2px;
}

a.directoryLetter:link, a.directoryLetter:visited {
	border: 1px solid #93052A;
	background-color: #F3DCE2;
	padding: 3px 5px 3px 5px;
	color: #93052A !important;
}	

a.dlReset:link, a.dlReset:visited {
	color: #536ba8;
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}
	
a.dlReset:focus, a.dlReset:hover, a.dlReset:active {
	color: #93052A;
	font-weight: bold;
	text-decoration: none;
}	

div#skipNav {
	display: none;
}

img.bordered {
	border: 1px solid #666666;
}

h3.noscriptWarning {
	display: none;
}

span#jsDependent {
	display: none;
}

a.imageButton:link img, a.imageButton:visited img {
	border: 2px solid #ffffff;
}

a.imageButton:focus img, a.imageButton:hover img, a.imageButton:active img {
	border: 2px solid #282888;
}

/* columns that wrap 'across' */
ul.HColWrap {
	width: 100%;
	margin-left: 0.4em;
	padding-left: 0em;
}

/* float & allow room for the widest item */
ul.HColWrap li {
    float: left;
    width: 15em;
    padding-left: 0em;
    padding-right: 1em;
    list-style-type: none;
    padding-bottom: 0.3em;
}

/* separate the list from subsequent markup */
div.colWrapper {
		width: 100%;
    margin-bottom: 0em;
}

h3.corpBlock {
	color: #E1A010; 
	border-top: 1px dotted #666666;
	padding-top: 5px;
}

.smaller_text, p.smaller_text {
	font-size: 0.8em !important;
	line-height: 1.1em !important;
}

div.AQthumbnail {
	border: 1px solid #666666;
	margin-right: 12px;
	margin-bottom: 20px;
	float: left;
	width: 250px; text-align: center;
}

div.AQthumbnail img {
	border: 1px solid #666666;
	margin-bottom: 10px;
}

div.expanded ul li ul.detailContainer {
	display: block !important;
}

div.expanded ul li ul.detailContainer li ul.detailContainer {
	display: block !important;
}

span.unlinkedHeading {
	font-size: 1.1em;
	color: #ffffff;
	font-weight: bold;
}

table.calendarGrid {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.calendarGrid td {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	background-color: #ffffff;
	padding: 3px 1px 3px 1px;
	text-align: center;
	width: 2em;
}

table.calendarGrid th {
	border-bottom: 2px solid navy;
	border-right: 1px solid #666666;
	background-color: #fdffed;
	padding: 3px 1px 3px 1px;
	text-align: center;
}

table.calendarGrid td a:link, table.calendarGrid td a:visited, table.calendarGrid td a:active {
	font-weight: bold;
}

h4#disclaimer {
	margin-top: 2px;
	padding: 8px; 
	background-color: #efefef;
	font-size: 0.9em;
	color: brown; 
	border-top: #666666 solid 1px;
	border-right: #666666 solid 1px;
	border-bottom: #666666 solid 1px;
}

