#!/bin/bash 
# Purpose: 
#    Configure all the information to run GRIB Extreme package. 
#    This is the only place where changes are needed. 
# Author: Deyong Xu / RTi@JCSDA
# History: 
#    7/9/2014, D. Xu / RTi@JCSDA , initial code.
#
set -ax

#========================================
# 1. Workin directory where data goes to.
#========================================
gribExtr_worksapce=/scratch2/portfolios/NESDIS/h-sandy/noscrub/Deyong.Xu/ge_workspace
working_dir=${gribExtr_worksapce}/data/output

#========================================
# 2. GRIB Extreme package directory
#========================================
gribExtr_dir=/scratch2/portfolios/NESDIS/h-sandy/noscrub/Deyong.Xu/ge_pkg/ge

#==========================
# 3. Specify cycle time
#==========================
cycleTime=2013073012

#========================================================
# 4. Input GRIB data directory, filename and title name
#========================================================
# 1) GFS GUESS info
gfs_ges_input_dir=${gribExtr_worksapce}/data/input/gfs
gfs_ges_input_file=pgbf06.gfs.2013073006
title1="gfs_ges"    #gfs guess
 
# 2) Current GFS analysis info 
crnt_anl_input_dir=${gribExtr_worksapce}/data/input/gfs
crnt_anl_input_file=pgbanl.gfs.2013073012
title2="gfs_anl"    # current gfs anl : gfs exp
 
# 3) Reference analysis info
ref_anl_input_dir=${gribExtr_worksapce}/data/input/ecm
ref_anl_input_file=pgbanl.ecm.2013073012
title3="ecmwf_anl"   #ref anl  : ecmwf  , gfs ctl

#========================================
# 5. Utility directory 
#    Utilities needed are: 
#      - ndate
#      - gribmap
#      - gxps
#      - grads
#      - grib2ctl.pl 
#      - gslib : grads library
#========================================
source setUtilConfig.sh 
grib2ctl_dir=${gribExtr_dir}/scripts
gslib_dir=${gribExtr_dir}/scripts/gslib

