#!/bin/bash
set -ax
export ENV_MY_RADMON="/data/users/dxu/iat/radmon_pkg/radmon/util/Radiance_Monitor"
export ENV_WORKSPACE="/data/users/dxu/workspace/radmon_workspace"
export WORKSPACE=${ENV_WORKSPACE}
export ENV_MY_TANKDIR="${WORKSPACE}/data/output/radmon_tank"
export ENV_PTMP="${WORKSPACE}/log"
export ENV_STMP="${WORKSPACE}/run"
export ENV_RADSTAT_LOCATION="${WORKSPACE}/data/input/input_for_test"
export ENV_LITTLE_ENDIAN="1"
export ENV_ID="mytest"
export ENV_CYCLES="2013063000 2013063006"
export ENV_RUN_STEP=2
