#!/bin/bash
set -ax
export ENV_WORKSPACE_DIR="/data/users/dxu/workspace/fcstDiff_workspace"
export ENV_FCSTDIFF_PKG_DIR="/data/users/dxu/iat/fcstDiff_pkg"
export WORKSPACE=${ENV_WORKSPACE_DIR}
export ENV_CDATE="20140203"
export ENV_EDATE="03Feb2014"
export ENV_CYC="00"
export ENV_EXPLIST="cntrl ecmwf"
export ENV_MODEL_1="gfs"
export ENV_MODEL_2="ecm"
export ENV_INPUT_1="${WORKSPACE}/data/input/cntrl_fcst"
export ENV_INPUT_2="${WORKSPACE}/data/input/ecmwf_fcst"
export ENV_MAPAIR="yes"
export ENV_MAPSFC="no"
export ENV_MAPUV="yes"
