#!/bin/bash
############################################################
# Date: 8/25/2014, mo
# Author : Deyong Xu / RTI  @ NOAA/NESDIS/STAR/JCSDA
# Purpose : 
#     Configuration file for forecast difference package.
############################################################
set -ax

# Data related directory.
workspace_dir=${ENV_WORKSPACE_DIR}
fcstDiff_pkg_dir=${ENV_FCSTDIFF_PKG_DIR}

#==============================================
# 1. Location of Forecast Differences pakcage
#==============================================
export fcstDiff_dir=$fcstDiff_pkg_dir/fcstDiff
export help_srpt_dir=$fcstDiff_dir/scripts

#==============================================
# 2. Run dir (where to run fcst_diff package
#             and output goes to.) 
#==============================================
export output_dir=${workspace_dir}/data/output
export run_dir=$output_dir

#==============================================
# 3. Forecast information
#==============================================
#--------------------------------------------
# 3.1 forecast cycle starting time
#     and cycle 
#--------------------------------------------
export CDATE=${ENV_CDATE}
export edate=${ENV_EDATE}
export cyc=${ENV_CYC}

#-------------------------------------------------
# 3.2 forecast model name(naming your experiments)
#-------------------------------------------------
export explist=${ENV_EXPLIST}

#--------------------------------------------
# 3.3 forecast model types (three options)
#        "gfs" , "gdas", or "ecm"
# Note: must specify one of the three options.
#       for each of your experiments.
#--------------------------------------------
export modelTypeArr=( "${ENV_MODEL_1}"  "${ENV_MODEL_2}")

#--------------------------------------------
# 3.4 forecast file location
#--------------------------------------------
export input_dir_arr=( "${ENV_INPUT_1}" "${ENV_INPUT_2}" )

#------------------------------------------------------
# 3.5 Forecast hours and areas to be compared against
#------------------------------------------------------
export fhrlist="f00 f24 f48 f72 f96 f120"
export arealist="gb nh sh tr na ua"

#======================================
# 4. Plot options
#    Swich lines to turn ON/OFF options
#======================================
export mapair=${ENV_MAPAIR}      ;#upper air

export mapsfc=${ENV_MAPSFC}      ;#sfc pressure

export mapuv=${ENV_MAPUV}        ;#vector wind 

#=========================================
# 5. ftp remote directory and option
# Note: 
#   Set doftp=NO 
#   and ftpdir is not used.
#=========================================
export hem=NH
export hemi=north_hem
export ftpdir=/data/$LOGNAME/fcstdiff_cntrl_expt/$hemi/${edate}${cyc}Z_fcstdiff$hem
export doftp="NO"

#===================================
# 6. Utility directory on badger
#===================================
source setUtilConfig.sh
