#!/bin/ksh
########################################################
# Date: 9/9/2014
# Author: Deyong Xu / RTi @ NOAA/NESDIS/STAR/JCSDA
# Purpose : Use configuration file to facilitate 
#      the configuration in running hurricane intensity
#      and track(HIT). It will streamline merging the HIT
#      to this branch in the future because changes
#      made to the original HIT code in this branch is 
#      minimum.
########################################################
set -ax

##################################
# 1. Hurricane Intensity and 
#    Track package location 
##################################
export scrdir=/data/users/dxu/iat/hit_pkg/hit

##############################################################
# 2. Input data location
# Note:  first 4 letters such as "prhw" in mdlist
#   must be the model name in the initial 
#   time storm center file.
#   a) value in "mdlist" such as "prhw2014" must be a sub-dir under $expdir.
#   b) First 4 letter of the value of "mdlist" such as "prhw" in 
#      "prhw2014" must be a model name.
#   c) Value of "modplot" is restricted to exactly 4-character string.
#   d) Both "mdlist" and "mdplot" could contain multiple values to
#      include multiple experiments. 
#      eg: 
#         export mdlist="prhw2011 prhw2012"
#         export mdplot="hw14     hw15    "
##############################################################
export expdir=/data/users/dxu/workspace/hit_workspace/data/input
export mdlist="prhw2014"    
export mdplot="hw14"       

##################################
# 3. cycle used 
##################################
export cyc="00 06 12 18"    

##################################
# 4. cycle used 
##################################
export STMP="/data/users/dxu/workspace/hit_workspace/data/output"

##################################
# 5. ndate utility 
##################################
source ./setUtilConfig.sh

##################################
# 6. Do NOT FTP 
##################################
export doftp="NO"        
