#!/bin/ksh
########################################################
# Date: 9/9/2014
# Author: Deyong Xu / RTi @ NOAA/NESDIS/STAR/JCSDA
# Purpose : Use configuration file to facilitate 
#      the configuration in running hurricane intensity
#      and track(HIT). It will streamline merging the HIT
#      to this branch in the future because changes
#      made to the original HIT code in this branch is 
#      minimum.
########################################################
set -ax

##################################
# 1. Hurricane Intensity and 
#    Track package location 
##################################
export scrdir=${ENV_SCRDIR}

##############################################################
# 2. Input data location
# Note:  first 4 letters such as "prhw" in mdlist
#   must be the model name in the initial 
#   time storm center file.
#   a) value in "mdlist" such as "prhw2014" must be a sub-dir under $expdir.
#   b) First 4 letter of the value of "mdlist" such as "prhw" in 
#      "prhw2014" must be a model name.
#   c) Value of "modplot" is restricted to exactly 4-character string.
#   d) Both "mdlist" and "mdplot" could contain multiple values to
#      include multiple experiments. 
#      eg: 
#         export mdlist="prhw2011 prhw2012"
#         export mdplot="hw14     hw15    "
##############################################################
export expdir=${ENV_EXPDIR}
export mdlist=${ENV_MDLIST}
export mdplot=${ENV_MDPLOT}

##################################
# 3. cycle used 
##################################
export cyc=${ENV_CYC}

##################################
# 4. output dir
##################################
export STMP=${ENV_STMP}

##################################
# 5. ndate utility 
##################################
source ./setUtilConfig.sh

##################################
# 6. Do NOT FTP 
##################################
export doftp="NO"        
