#!/bin/bash
set -ax
export ENV_SCRDIR="/data/users/dxu/iat/hit_pkg/hit"
export ENV_EXPDIR="/data/users/dxu/workspace/hit_workspace/data/input"
export ENV_MDLIST="prhw2014"
export ENV_MDPLOT="hw14"
export ENV_CYC="00 06 12 18"
export ENV_STMP="/data/users/dxu/workspace/hit_workspace/data/output"
export ENV_REGION="at"
export ENV_YEAR="2012"
export ENV_STORMS="Julio katrina"
export ENV_MEAN="no"
