#!/bin/bash
set -ax
export ENV_MAKEVSDBDATA="YES"
export ENV_1_MYARCH="${WORKSPACE}/data/input/fcst_data"
export ENV_1_EXPNLIST="gfs ecm"
export ENV_1_FCYCLIST="00"
export ENV_1_DUMPLIST=".gfs. .ecm."
export ENV_1_VHRLIST="00"
export ENV_1_DATEST="20140201"
export ENV_1_DATEND="20140228"
export ENV_1_VLENGTH="120"
