#!/bin/bash
set -ax
export ENV_MAPS2D="NO"
export ENV_6_MYARCH="${WORKSPACE}/data/input/fcst_data"
export ENV_6_EXPNLIST="gfs ecm"
export ENV_6_DUMPLIST=".gfs. .ecm."
export ENV_6_FDLIST="anl 1 5 10"
export ENV_6_CYCLE="00"
export ENV_6_DATEST="20140201"
export ENV_6_NDAYS="28"
export ENV_6_NLEV="26"
export ENV_6_GRID="G2"
export ENV_6_PBTM="1000"
export ENV_6_PTOP="1"
