#!/bin/bash
set -ax
export ENV_CONUSDATA="NO"
export ENV_3_COMROT="${WORKSPACE}/data/input/fcst_data"
export ENV_3_EXPNLIST="gfs gfs2"
export ENV_3_FTYPLIST="pgb pgb"
export ENV_3_DUMPLIST=".gfs. .gfs."
export ENV_3_PTYPLIST="PRATE PRATE"
export ENV_3_BUCKET="6"
export ENV_3_FHOUT="6"
export ENV_3_CYCLE="00"
export ENV_3_DATEST="20140201"
export ENV_3_DATEND="20140228"
