#!/bin/bash
set -ax
export ENV_VSDBHOME="/data/users/dxu/iat/vsdb_pkg/vsdb_v17"
export VSDBHOME="/data/users/dxu/iat/vsdb_pkg/vsdb_v17"
export ENV_WORKSPACE="/data/users/dxu/iat/../workspace/vsdb_workspace"
export WORKSPACE="/data/users/dxu/iat/../workspace/vsdb_workspace"
export ENV_ACCOUNT="glbss"
export ENV_CUE2RUN="batch"
export ENV_CUE2FTP="batch"
export ENV_GROUP="g01"
export ENV_GSTAT="${WORKSPACE}/data/input/gstat"
export gstat="${WORKSPACE}/data/input/gstat"
export ENV_CANLDIR="$gstat/canl"
export ENV_ECMANLDIR="$gstat/ecm"
export ENV_OBSPCP="${WORKSPACE}/data/input/qpf/OBSPRCP"
export ENV_GFSFITDIR="${WORKSPACE}/data/input/f2o"
export ENV_OBDATA="${WORKSPACE}/data/input/plot2d/obdata"
