#!/bin/bash
set -ax
export ENV_FIT2OBS="NO"
export ENV_5_FITDIR="${WORKSPACE}/data/input/f2o"
export ENV_5_EXPNLIST="fit_model  fit_model2"
export ENV_5_ENDIANLIST="little little"
export ENV_5_CYCLE="00"
export ENV_5_OINC_F2O="24"
export ENV_5_FINC_F2O="24"
export ENV_5_FMAX_F2O="120"
export ENV_5_DATEST="20130801"
export ENV_5_DATEND="20130814"
