#!/bin/bash
############################################################
# Date: 8/25/2014, mo
# Author : Deyong Xu / RTI  @ NOAA/NESDIS/STAR/JCSDA
# Purpose : 
#     Configuration file for forecast difference package.
############################################################
set -ax

# Data related directory.
workspace_dir=/scratch2/portfolios/NESDIS/h-sandy/noscrub/Deyong.Xu/fcstDiff_workspace
fcstDiff_pkg_dir=/scratch2/portfolios/NESDIS/h-sandy/noscrub/Deyong.Xu/fcstDiff_pkg

#==============================================
# 1. Location of Forecast Differences pakcage
#==============================================
export fcstDiff_dir=$fcstDiff_pkg_dir/fcstDiff
export help_srpt_dir=$fcstDiff_dir/scripts

#==============================================
# 2. Run dir (where to run fcst_diff package
#             and output goes to.) 
#==============================================
export output_dir=$workspace_dir/data/output
export run_dir=$output_dir

#==============================================
# 3. Forecast information
#==============================================
#--------------------------------------------
# 3.1 forecast cycle starting time
#     and cycle 
#--------------------------------------------
export CDATE=20140203
export edate=03Feb2014
export cyc=00

#-------------------------------------------------
# 3.2 forecast model name(naming your experiments)
#-------------------------------------------------
export explist="cntrl  ecmwf"

#--------------------------------------------
# 3.3 forecast model types (three options)
#        "gfs" , "gdas", or "ecm"
# Note: must specify one of the three options.
#       for each of your experiments.
#--------------------------------------------
export modelTypeArr=('gfs' 'ecm')

#--------------------------------------------
# 3.4 forecast file location
#--------------------------------------------
export input_dir_arr=( "$workspace_dir/data/input/cntrl_fcst"
                       "$workspace_dir/data/input/ecmwf_fcst")

#------------------------------------------------------
# 3.5 Forecast hours and areas to be compared against
#------------------------------------------------------
export fhrlist="f00 f24 f48 f72 f96 f120"
export arealist="gb nh sh tr na ua"

#======================================
# 4. Plot options
#    Swich lines to turn ON/OFF options
#======================================
export mapair=no       ;#upper air
export mapair=yes      ;#upper air

export mapsfc=yes      ;#sfc pressure
export mapsfc=no       ;#sfc pressure

export mapuv=yes       ;#vector wind 
export mapuv=no        ;#vector wind 

#=========================================
# 5. ftp remote directory and option
# Note: 
#   Set doftp=NO 
#   and ftpdir is not used.
#=========================================
export hem=NH
export hemi=north_hem
export ftpdir=/data/$LOGNAME/fcstdiff_cntrl_expt/$hemi/${edate}${cyc}Z_fcstdiff$hem
export doftp="NO"

#===================================
# 6. Utility directory
#===================================
#----------------
# s4-cardinal
#----------------
# export ndate_dir=/usr/local/jcsda/nwprod_gdas_2014/util/exec
# export copygb_dir=/usr/local/jcsda/nwprod_gdas_2014/util/exec
# export gribmap_dir=/opt/grads/2.0.2-intel-14.0-2/bin
#----------------
# zeus
#----------------
export ndate_dir=/scratch2/portfolios/NCEPDEV/global/save/glopara/nwpara/util/exec
export copygb_dir=/scratch2/portfolios/NCEPDEV/global/save/glopara/nwpara/util/exec
export gribmap_dir=/apps/grads/2.0.1a/bin



