#!/bin/bash 
# Purpose: 
#    Configure all the information to run GRIB Extreme package. 
#    This is the only place where changes are needed. 
# Author: Deyong Xu / RTi@JCSDA
# History: 
#    7/9/2014, D. Xu / RTi@JCSDA , initial code.
#
set -ax

#========================================
# 1. Workin directory where data goes to.
#========================================
gribExtr_worksapce=${ENV_GRIBEXTR_WORKSAPCE}
working_dir=${gribExtr_worksapce}/data/output

#========================================
# 2. GRIB Extreme package directory
#========================================
gribExtr_dir=${ENV_GRIBEXTR_DIR}

#==========================
# 3. Specify cycle time
#==========================
cycleTime=${ENV_CYCLETIME}

#========================================================
# 4. Input GRIB data directory, filename and title name
#========================================================
# 1) GFS GUESS info
gfs_ges_input_dir=${ENV_GFS_GES_INPUT_DIR}
gfs_ges_input_file=${ENV_GFS_GES_INPUT_FILE}
title1=${ENV_TITLE1}
 
# 2) Current GFS analysis info 
crnt_anl_input_dir=${ENV_CRNT_ANL_INPUT_DIR}
crnt_anl_input_file=${ENV_CRNT_ANL_INPUT_FILE}
title2=${ENV_TITLE2}
 
# 3) Reference analysis info
ref_anl_input_dir=${ENV_REF_ANL_INPUT_DIR}
ref_anl_input_file=${ENV_REF_ANL_INPUT_FILE}
title3=${ENV_TITLE3}

#========================================
# 5. Utility directory 
#    Utilities needed are: 
#      - ndate
#      - gribmap
#      - gxps
#      - grads
#      - grib2ctl.pl 
#      - gslib : grads library
#========================================
source setUtilConfig.sh 
grib2ctl_dir=${gribExtr_dir}/scripts
gslib_dir=${gribExtr_dir}/scripts/gslib

