#!/bin/ksh
########################################################
# Date: 9/9/2014
# Author: Deyong Xu / RTi @ NOAA/NESDIS/STAR/JCSDA
# Purpose : Use configuration file to facilitate 
#      the configuration in running hurricane intensity
#      and track(HIT). It will streamline merging the HIT
#      to this branch in the future because changes
#      made to the original HIT code in this branch is 
#      minimum.
########################################################
set -ax

##################################
# 1. Hurricane Intensity and 
#    Track package location 
##################################
export scrdir=/data/dxu/hit

##############################################################
# 2. Input data location
# Note:  first 4 letters such as "prhw" 
#   must be the model name in the initial 
#   time storm center file.
#   a) "prhw2014" must be sub-dir under $expdir.
#   b) First 4 letter of "prhw2014" must be a model name.
#   c) Value of modplot is restricted to a 4-character string.
##############################################################
export expdir=/data/dxu/hit_work_space/input
export mdlist="prhw2014"    
export mdplot="hw14"       

##################################
# 3. cycle used 
##################################
export cyc="00 06 12 18"    

##################################
# 4. cycle used 
##################################
export STMP="/data/dxu/hit_work_space"

##################################
# 5. ndate utility 
##################################
export NDATE=/usr/local/jcsda/nwprod_gdas_2014/util/exec/ndate

##################################
# 6. Do NOT FTP 
##################################
export doftp="NO"        
