name: Intel Linux Build
on: [push, pull_request, workflow_dispatch]

# Use custom shell with -l so .bash_profile is sourced which loads intel/oneapi/setvars.sh
# without having to do it in manually every step
defaults:
  run:
    shell: bash -leo pipefail {0}

# Set I_MPI_CC/F90 so Intel MPI wrapper uses icc/ifort instead of gcc/gfortran
env:
  cache_key: intel
  CC: icc
  FC: ifort
  CXX: icpc
  I_MPI_CC: icc
  I_MPI_F90: ifort

# The jobs are split into:
# 1. a dependency build step (setup), and
# 2. a GSI build step (build)
# The setup is run once and the environment is cached,
# so each build of GSI can reuse the cached dependencies to save time (and compute).

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      # Checkout the GSI to get the ci/spack.yaml file
      - name: checkout-gsi
        if: steps.cache-env.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
            path: GSI

      # Cache spack, compiler and dependencies
      - name: cache-env
        id: cache-env
        uses: actions/cache@v3
        with:
          path: |
            spack
            ~/.spack
            /opt/intel
          key: spack-${{ runner.os }}-${{ env.cache_key }}-${{ hashFiles('GSI/ci/spack.yaml') }}

      - name: install-intel-compilers
        if: steps.cache-env.outputs.cache-hit != 'true'
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          echo "deb https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update
          sudo apt-get install intel-oneapi-dev-utilities intel-oneapi-mpi-devel intel-oneapi-openmp intel-oneapi-compiler-fortran intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic
          echo "source /opt/intel/oneapi/setvars.sh" >> ~/.bash_profile

      # Install dependencies using Spack
      - name: install-dependencies-with-spack
        if: steps.cache-env.outputs.cache-hit != 'true'
        run: |
          sudo mv /usr/local/ /usr_local_mv
          sudo apt-get install cmake
          git clone -c feature.manyFiles=true https://github.com/NOAA-EMC/spack.git
          source spack/share/spack/setup-env.sh
          spack env create gsi-env GSI/ci/spack.yaml
          spack env activate gsi-env
          spack compiler find
          spack external find
          spack add intel-oneapi-mpi
          spack concretize
          spack install -v --fail-fast --dirty
          spack clean -a

  build:
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: checkout-gsi
        uses: actions/checkout@v3
        with:
            path: GSI

      - name: install-intel
        run: |
          echo "source /opt/intel/oneapi/setvars.sh" >> ~/.bash_profile

      - name: cache-env
        id: cache-env
        uses: actions/cache@v3
        with:
          path: |
            spack
            ~/.spack
            /opt/intel
          key: spack-${{ runner.os }}-${{ env.cache_key }}-${{ hashFiles('GSI/ci/spack.yaml') }}

      - name: build-gsi
        run: |
          source spack/share/spack/setup-env.sh
          spack env activate gsi-env
          cd GSI
          mkdir -p build && cd build
          cmake -DCMAKE_INSTALL_PREFIX=../install -DGSI_MODE=Regional -DENKF_MODE=GFS -DBUILD_REG_TESTING=OFF ..
          make -j2 VERBOSE=1
          make install
        env:
          CC: mpiicc
          FC: mpiifort
